.aneis-formatura-section{
  height: 140vh;
}
.container-aneis-formatura{
    margin: 50px;
    margin-top: 100px;
    height: 200px;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo-formatura{
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.text-formatura{
    font-size: 16px;
    color: #555;
    line-height: 1.5;
    max-width: 1300px;
    text-align: center;
    margin-top: 10px;
}

.container-card-formatura {
  height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 30px;
}

.card-formatura {
  width: 240px;
  height: 330px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s;
  background: #fff;
}

.card-formatura:hover {
  transform: scale(1.05);
}

.card-formatura img {
  margin-top: 15px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-formatura h3 {
  margin: 10px 0 5px;
  font-size: 1.1em;
}

.card-formatura p {
  color: #777;
}

.drive-viewer-container {
  max-width: 900px;
  margin: 40px auto;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.drive-viewer-container h2 {
  color: #000;
  font-weight: 600;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .container-aneis-formatura {
    margin: 20px;
    padding: 20px;
    height: auto;
  }

  .titulo-formatura {
    margin-top: 50px;
    font-size: 22px;
  }

  .text-formatura {
    font-size: 15px;
    max-width: 100%;
    text-align: justify;
  }

  .container-card-formatura {
    padding: 20px;
    gap: 20px;
  }

  .card-formatura {
    width: 200px;
    height: 280px;
  }
}