
.container-personalizados{
    margin: 50px;
    margin-top: 100px;
    height: 200px;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.titulo-personalizados{
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.text-personalizado{
    font-size: 16px;
    color: #555;
    line-height: 1.5;
    max-width: 1300px;
    text-align: center;
    margin-top: 30px;
}



@media (max-width: 768px) {
  .container-personalizados {
    margin: 20px;
    padding: 20px;
    height: auto;
  }

  .titulo-personalizados {
    margin-top: 50px;
    font-size: 22px;
  }

  .text-personalizado {
    font-size: 15px;
    max-width: 100%;
    text-align: justify;
  }
}

